*.pt filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
ai-vision-service/models/dog_breed_classifier.pth filter=lfs diff=lfs merge=lfs -text
